<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="icon" href="/Images/favicon.png" type="image/png" />
    <title>Second Chance</title>
    


  </head>
  <body>
    <% include("../components/AdminNavBar.ejs") %>
    <div class="container">
      <% users.forEach(user => { %>
      <div class="user-card">
        <h3><%= user.role %></h3>
        <p><strong>First Name:</strong> <%= user.firstName %></p>
        <p><strong>Last Name:</strong> <%= user.lastName %></p>
        <p><strong>Username:</strong> <%= user.username %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Phone Number:</strong> <%= user.phoneNumber %></p>
        <button>Edit</button>
        <button data-id="<%= user._id %>" class="delete-button">Delete</button>
      </div>
      <% }) %>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".delete-button").forEach((button) => {
          button.addEventListener("click", async () => {
            const userId = button.getAttribute("data-id");

            try {
              const response = await fetch(`/user/${userId}`, {
                method: "DELETE",
              });

              if (!response.ok) {
                throw new Error("Failed to delete user");
              }

              alert("User deleted successfully");
              // Optionally, refresh the page or update the UI after deletion
            } catch (error) {
              console.error("Error deleting user:", error.message);
              alert("Failed to delete user");
            }
          });
        });
      });
    </script>
  </body>
</html>
