<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="icon" href="/Images/favicon.png" type="image/png" />
    <title>Second Chance</title>
    


  </head>
  <body>
    <% include("../components/AdminNavBar.ejs") %>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Role</th>
            <th>First Name</th> 
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr>
            <td><%= user.role %></td>
            <td><%= user.firstName %></td>
            <td><%= user.lastName %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.phoneNumber %></td>
            <td>
              <button>Edit</button>
              <button data-id="<%= user._id %>" class="delete-button">Delete</button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".delete-button").forEach((button) => {
          button.addEventListener("click", async () => {
            const userId = button.getAttribute("data-id");

            try {
              const response = await fetch(`/user/${userId}`, {
                method: "DELETE",
              });

              if (!response.ok) {
                throw new Error("Failed to delete user");
              }

              alert("User deleted successfully");
              // Optionally, refresh the page or update the UI after deletion
            } catch (error) {
              console.error("Error deleting user:", error.message);
              alert("Failed to delete user");
            }
          });
        });
      });
    </script>
  </body>
</html>
