<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users</title>
    <link rel="stylesheet" href="/Css/viewusers.css"> <!-- Adjust the path as per your project structure -->
</head>
<body>
    <div class="users">
        <% users.forEach(user => { %>
            <div class="user">
                <div class="user-info">
                    <p><span class="label">Email:</span> <span class="det"><%= user.email %></span></p>
                    <p><span class="label">Username:</span> <span class="det"><%= user.username %></span></p>
                    <!-- Add more user information as needed -->
                    <p><span class="label">Phone:</span> <span class="det"><%= user.phoneNumber %></span></p>
                    <p><span class="label">Buy-Sell:</span> <span class="det"><%= user.role === 'admin' ? 'Buy' : 'Sell' %></span></p>
                </div>

                <!-- Products section -->
                <% user.products.forEach(product => { %>
                    <div class="buy-sell-info">
                        <img src="/Images/<%= product.image %>" alt="Product img"> <!-- Replace with actual image path from database -->
                        <div class="product-details">
                            <h4><%= product.name %></h4>
                            <p>Price: <%= product.price %> LE</p>
                            <p>Brand: <%= product.brand %></p>
                            <p>Size: <%= product.size %></p>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% }); %>
    </div>
</body>
</html>
